p {
  color: rosybrown;
}

.pink {
  color: white;
  background: pink;
  padding: 5px;
}

header {
  background: teal;
  color: white;
  height: 100px;
  padding: 50px;
}

input[type="text"] {
  background: none;
  color: cyan;
  margin: 12px;
  padding: 10px;
  border: 1px solid cyan;
}
* {
  border: 1px solid grey;
}
